<header>
    <app-menu-bar></app-menu-bar>

    <app-menu-title></app-menu-title>
    
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card 
            Id="1"
            photoCover="https://tntsports.com.br/__export/1707322516353/sites/esporteinterativo/img/2024/02/07/20240207-141030_1971632_2871.jpg_1758632412.jpg"
            cardTitle="James Rodriguez fica no SPFC"
            cardDescription="Após dias turbulentos, James Rodriguez decide permanecer no SPFC e pede desculpas a equipe.">
            </app-big-card>
        </div>
        <div class="articles__others">
            <app-small-card 
            Id="2"
            photoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2024/02/20/1852114113-lamela.jpg"
            cardTitle="SPFC desmente sobre Lamela"
            ></app-small-card>
            <app-small-card 
            Id="3"
            photoCover="https://a.espncdn.com/combiner/i?img=%2Fphoto%2F2024%2F0121%2Fr1280151_1296x729_16%2D9.jpg"
            cardTitle="Carpini conta com volta de jogadores do DM"
            ></app-small-card>
            <app-small-card
            Id="4"
            photoCover="https://conteudo.imguol.com.br/c/esporte/83/2024/02/17/calleri-durante-sao-paulo-x-bragantino-pelo-paulistao-1708210824940_v2_4x3.jpg"
            cardTitle="SPFC amarga a 3° colocação no grupo D do paulistão"
            ></app-small-card>
        </div>
    </div>    
</header>